$lightBrown: #e2e7b9;
$darkerBrown:  rgb(128, 102, 0);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.app {
    font-family: "Inter", system-ui;
    display: flex;
    justify-content: center;
    
    .container{
        width: 100%;

        .link {
            text-decoration: none;
            color: inherit;
        }
    }
}