$lightBrown: #e2e7b9;
$darkerBrown:  rgb(128, 102, 0);

$orange: #FFA337;
$purple: #87659C;
$light-blue: #60E3F5;
$light-pink: #F4B1F5;
$yellow: #F3F751;
$light-purple: #959BD7;
$light-grey: #737070;
